/* message.css */

/* Container chứa các message */
.messages {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ======================== Thông báo ======================== */
.message {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 1px 2px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 1001;
    /* display: none;  Bỏ để JS điều khiển */
    animation: slideFade 5s forwards;
    font-family: sans-serif;
}

/* Animation chạy từ phải sang trái và mờ dần */
@keyframes slideFade {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    25% {
        opacity: 1;
        transform: translateX(-50%);
    }
    30% {
        opacity: 1;
        transform: translateX(0);
    }
    30% {
        opacity: 1;
        transform: translateX(100%);
    }
    99% {
        opacity: 1;
        transform: translateX(-300%);
    }
    100% {
        opacity: 0;
        transform: translateX(-350%);
    }
}

/* ======================== Xác nhận ======================== */
.confirm-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    z-index: 2000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    font-family: sans-serif;
}

/* Nội dung trong confirm-box */
.confirm-box p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

/* Các nút trong confirm-box */
.confirm-box button {
  padding: 8px 18px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Nút OK màu xanh */
.confirm-box button.yes {
  background-color: #4caf50;
  color: white;
}

.confirm-box button.yes:hover {
  background-color: #45a049;
}

/* Nút Hủy màu đỏ */
.confirm-box button.no {
  background-color: #f44336;
  color: white;
}

.confirm-box button.no:hover {
  background-color: #d32f2f;
}

/* thông báo tại nút chỗ (spot-message */
.spot-message {
    color: #f87d0a;
    font-size: 14px;
    display: flex;
    z-index: 1000;
    /* Đảm bảo thông báo nằm trên cùng */
    animation: fadeIn 0.3s ease-in-out;
    position: absolute;
    /* Đặt thông báo nổi phía trên */
    background-color: #fffdfd;
    border-radius: 5px;
    /* top: 70%; */
    margin-bottom: 25%;
}

.spot-message .fa {
    color: #f87d0a;
}
